@import 'tailwindcss';

/* .glass-input {
  @apply w-full px-4 py-3 rounded-xl
         bg-white/90 text-gray-900
         border border-gray-300
         focus:border-blue-500 focus:ring-2 focus:ring-blue-400
         shadow-sm placeholder-gray-500;
} */

.glass-input {
  @apply w-full px-4 py-3 rounded-xl bg-white shadow border border-gray-300 focus:ring-2 focus:ring-blue-500 outline-none placeholder-gray-500;
}

/* floating label input base */
.input-icon {
  @apply w-full pl-11 pr-4 py-3 rounded-xl bg-white text-gray-900
         border border-gray-300
         focus:border-blue-600 focus:ring-2 focus:ring-blue-400
         shadow-sm placeholder-gray-500 outline-none;
}
